a {
    color: #00B7FF;
}

#main_map {
    height: 600px;
}

body {
    padding: 50px;
    padding-top: 5rem;
}

.policy {
    background: #00B7FF;
    color: #ffffff;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 2em;
    border: 5px solid peru;
}

.policy a {
    color: black;
}